.city-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:20px;
}

.city-selector select {
    padding: 10px;
    font-size: 16px;
    font-family: "BezierSans", sans-serif;
    border-radius: 20px;
    background-color: var(--color-surface-a10);
    width: 250px; /* Ширина выпадающего списка */
    border:1px solid var(--color-surface-a10);
    outline: none;
    color:white;
    appearance: none;
    text-align-last: center;
    cursor:pointer;
    transition:all 0.3s ease-out;
}
.city-selector select option{
    text-align: center;
    appearance: none;
    transition:all 0.3s ease-out;
}
.city-selector select:hover{
    border:1px solid var(--color-primary-a10);
}
