@font-face {
  font-family: 'BezierSans';
  src: url('/src/assets/fonts/Bézier Sans_variable.ttf');
}

:root{
  /** Dark theme primary colors */
--color-primary-a0: #b1459c;
--color-primary-a10: #bb5ca7;
--color-primary-a20: #c571b2;
--color-primary-a30: #ce85bc;
--color-primary-a40: #d79ac7;
--color-primary-a50: #e0aed2;

/** Dark theme surface colors */
--color-surface-a0: #121212;
--color-surface-a10: #282828;
--color-surface-a20: #3f3f3f;
--color-surface-a30: #575757;
--color-surface-a40: #717171;
--color-surface-a50: #8b8b8b;

/** Dark theme mixed surface colors */
--color-surface-mixed-a0: #20181e;
--color-surface-mixed-a10: #352d33;
--color-surface-mixed-a20: #4b4449;
--color-surface-mixed-a30: #625c60;
--color-surface-mixed-a40: #7a7579;
--color-surface-mixed-a50: #938f92;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: var(--color-surface-a0);
}

#app {
  display: flex;
  flex-direction:column;
  width: 100%;
}

h2, p{
  font-family: "BezierSans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color:white;
}

.mainApp{
  min-width: 400px;
  padding: 2rem;
  text-align: center;
  border-radius: 50px;
  background-color: var(--color-surface-a20);
  place-self: center;
  transition:all 0.3s ease-out;
}